h1 {


font-size: 200px;
position:absolute 
top: 100px;
right: 50px;




}
img { 


 position: relative;
 top: 100px; 
 left: 100px;

    
}
.right-image {

float:right;
margin-right:180px;

}

.logo{


position:absolute



}