CSS
/* Image row (horizontal layout) */
.image-row {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 50px;
    border-radius: 25px;;
}
 
/* Individual image containers */
.image-row div {
    flex: 1;
}
 
/* Images */
.image-row img {
    width: 100%;
    border-radius: 8px;
}
 
header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Style the topnav */
  ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
  }
  
  /* Style links in topnav */
  ul.topnav li a {
    display: block;
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  ul.topnav li a:hover {
    background-color: #dddddd;
    color: black;
  }